.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.calculator {
  width: 350px;
  height: 570px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.operator,
.number,
.symbole {
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 50%;
  border-width: 0;
  font-size: 25px;
  cursor: pointer;
}
.number,
.symbole {
  color: white;
  background-color: #2d3436;
}

.operator {
  color: white;
  background-color: #00b894;
}

.operator:active,
.number:active,
.symbole:active {
  font-size: 13px;
}
.operator:focus,
.number:focus,
.symbole:focus {
  outline: 0;
}
